* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    padding: 20px 60px;
}

nav {
    display: flex;
    justify-self: space-between;
    align-items: center;
}

nav img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}


.banner {
    background-image: url('https://images.unsplash.com/photo-1544005313-94ddf0286df2');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.banner h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.banner span {
    margin: 0 10px;
    font-size: 10px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 15px;
    border-radius: 5px;
}


.banner button {
    display: block;
    margin: 40px auto 0;
    padding: 15px 70px;
    font-size: 10px;
    background-color: #c271ff;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}



.quote {
    background-color: #c271ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 60px 80px;
}

.quote img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.quote blockquote {
    font-size: 18px;
    margin-bottom: 5px;
}


.quote h3 {
    font-size: 14px;
    opacity: 0.8;
}


.videos {
    background-color: #f9f9f9;
    padding: 80px 60px;
}

.videos h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
    color: #071629;
}

.videos-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    padding: 20px;
    width: 260px;
    flex-shrink: 0;
}

.videos-card img {
    width: 100%;
    border-radius: 5px;
}

.videos-card h3 {
    font-size: 16px;
    color: #071629;
    margin: 15px 0 10px;
}

.videos-card p {
    font-size: 14px;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.rating {
    display: flex;
    gap: 4px;
    margin: 10px 0;
}

.rating i {
    color: #c271ff;
}


.videos-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}